
@{
    ViewData["Title"] = "PicksSaved";
}

<h1 class="text-warning text-shadow text-bold">Picks Saved</h1>
<div>
    <dl class="row">
        <dt class="text-warning text-shadow text-bold col-sm-2">
            Back
        </dt>
        <dd class="text-warning text-shadow col-sm-10">
            <a asp-controller="Players" asp-action="Index">Back to List</a>
        </dd>
    </dl>
</div>


